/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: white;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: inherit;
  text-rendering: optimizeLegibility;
}
