@mixin animation($name) {
  -webkit-animation: #{$name};
  -moz-animation: #{$name};
  -ms-animation: #{$name};
  -o-animation: #{$name};
  animation: #{$name};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

.home-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: -10px;
  padding: 0;
  clear: both;
  background-color: royalblue;
}

a, a:visited, a:hover, a:active {
  color: white;
  outline: 0;
}

button {
  background-color: royalblue;
  border-color: white;
}

.site-intro-content {
  padding: 20vmin 10vmin;
  color: white;
  font-size: 1.4rem;
}

h1 {
  color: white;
  font-size: 2.7rem;
  font-family: "Helvetica", serif;
}

.scroll-prompter {
  padding: 0;
  display: block;
  font-size: 2.7rem;
  z-index: 100;
}

.typed-cursor {
  font-size: 100px;
  color: white;
  opacity: 1;
  @include animation(blink 0.7s infinite);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($name) {
  -webkit-animation: #{$name};
  -moz-animation: #{$name};
  -ms-animation: #{$name};
  -o-animation: #{$name};
  animation: #{$name};
}

.intro-text {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  font-size: 1.4rem;
}
